<section>
    <div class="container">
        <div class="row">
            {{#each dataZapato}}
            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header">
                        <img src="/{{path}}" alt="">
                    </div>
                    <div class="card-body">
                        <p>Peso <i class='bx bxs-magic-wand'></i> : {{size}} (kb | Mb)</p>
                        <p>Precio <i class='bx bxl-bitcoin'></i> : {{precio}} <i class='bx bxs-dollar-circle'
                                     style='color:#1dc232'></i></p>
                        <p>Color <i class='bx bxs-comment-edit'></i> : {{color}}</p>
                        <p>Cantidad <i class='bx bxs-comment-edit'></i> : {{cantidad}}</p>
                    </div>
                    <div class="card-footer">
                        <p>Upload <i class='bx bxs-calendar-edit'></i> : {{timeago created_at}}</p>
                        <form action="/shoe/delete/{{id}}?_method=DELETE" method="POST">
                            <div>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="imgDelete" value="{{filename}}">
                                <input type="submit" value="Delete" class="btn-input">
                            </div>
                        </form>
                        <a href="/shoe/edit/{{id}}" class="my-2 btn btn-success d-block">Editar Zapato</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div>
                <div class="col-md-4 mx-auto mt-5">
                    <div class="card">
                        <div class="card-body">
                            <p>Aun no has publicado Nada :)</p>
                            <a href="/shoe/form" class="btn-input">Quiero Publicar</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{#if paginas}} <!--PAGINATION-->
            <nav class="Page navigation example">
                <ul class="pagination">
                    {{{firtPagina current}}}
                    {{#if user}}
                       {{{paginationUser current paginas}}}
                    {{/if}}
                    {{{lastPagina current paginas}}}
                </ul>
            </nav>
            {{/if}}         <!--END-PAGINATION-->
        </div>
    </div>
</section>